* {
  box-sizing: border-box;
}

:root {
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  background-color: rgb(242, 240, 234);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  text-align: center;
  background-color: rgb(242, 240, 234);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* TrussWorks class settings */
.grid-container {
  max-width: 100rem !important;
}

.linkedin-grid-container {
  width: 73rem;
}

.linkedin-card {
  border-width: 1px;
  border-color: #a9aeb1;
}

.bg-white {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  margin-left: 23em;
}

.header-right {
  display: flex;
  gap: 10px;
}

/* Personal CSS Classes */

.hover-link-profile-name:hover {
  text-decoration: underline;
}

/* Not work with USWDS*/
.text-thin {
  font-weight: 100;
}
